{% extends 'page_base.html' %}

<head>
    {% block title %}Account Details{% endblock %}
</head>

{% block heading %}
<section class="roundedBox" id="welcome">
    <h1>Account Details</h1>
</section>
{% endblock %}

{% block content %}
<section class="roundedBox" id="about-content">
    <h2>{{ user.first_name }} {{ user.last_name }}</h2>
    <p><b>Email:</b> {{ user.email }}</p>
    <p><b>Grade:</b> {{ user.grade if user.grade else 'Not Provided' }}</p>
    <p><b>Role:</b> {{ 'Admin' if user.is_admin else 'Member' }}</p>

    <div style="margin-top: 25px;">
        <a href="{{ url_for('forgot_password') }}" class="textLink">Reset Password</a>
    </div>
</section>
{% endblock %}
