<!DOCTYPE html>
<html>
    <head>
        <!--Tab name-->
        <title>CIT Signups</title>

        <link href="./style.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <script src="./script.js" defer></script>
    </head>
    <body>
        <!--Header-->
        <div id="headerSection">
            <section id="homePage">
                <img src="./CITLogo.png" alt="Logo" id="CITLogo">
                <p id="CITSignups">CIT Signups</p>
            </section>
            <!--<img src="./CalendarIcon.png" id="calendarIcon">-->
            <p class="headerItem" id="calendarText"><a href="./calendar.html" class="headerLink">Calendar</a></p>
        </div>

        <div id="optionBarTrigger">
            <p class="headerItem" id="signinText">Sign in</p>
        </div>
        <section id="dropdown">
            <p id="accountDetails">Account Details</p>
            <p id="logOut">Log Out</p>
        </section>
        
        <!--Body-->
        <div id="bodySection">
            <section class="roundedBox" id="calendar">
                <h2>Calendar goes here</h2>
            </section>
            
            <section id="footer">

            </section>
        </div>
    </body>
</html>