<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="icon" href="{{ url_for('static', filename='images/CITLogo.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
    <!--Placeholder for extra styling and js for home page and signup pages-->
    
    {% block extra_styling_js %} {% endblock %}
</head>
<body>
    <!--Header-->
    <div id="headerSection">
        <section id="homePage" data-url="{{ url_for('homePage') }}">
            <img src="{{ url_for('static', filename='images/CITLogo.png') }}" alt="Logo" id="CITLogo">
            <p id="CITSignups">CIT Signups</p>
        </section>        
    
        <p class="headerItem" id="calendarText">
            <a href="{{ url_for('calendar') }}" class="headerLink">Calendar</a>
        </p>
    </div>
    

    <div id="optionBarTrigger">
        <p style="white-space: nowrap;" class="headerItem" id="signinText">{{email.split('@')[0]}}</p>
    </div>
    <section id="dropdown">
        <p id="accountDetails">Account Details</p>
        <a href="{{url_for('logout')}}"><p id="logOut">Log Out</p></a>
    </section>

    <div id="bodySection">
        <!--Placeholder for page heading and expectations for home page and event details for signup pages-->
        {% block heading %} {% endblock %}

        {% block content %} {% endblock %}
    </div>
</body>
</html>
