<!--Inherits page_base template and adds event signup details-->
{% extends 'page_base.html' %}

<head>
    {% block title %} {{ event_data[1] }} Signup {% endblock %}
    {% block extra_styling_js %}
        <link rel="stylesheet" href="{{ url_for('static', filename='signup.css') }}">
        <script src="{{ url_for('static', filename='signupScript.js') }}" defer></script>
    {% endblock %}
</head>

{% block heading %}

    <section class="roundedBox" id="welcome">
        <!--Page Heading-->
        <h1>{{ event_data[1] }} Signup</h1>
    </section>

    <!--Event Details-->
    <section class="roundedBox eventDetails">
        <!--Backend interaction: Insert event details (name, date, time, location, meal coordinator info, extra notes)-->
        <!--Based on data in the database that was logged down when admin created the event signup using the template-->
        <h2>{{ event_data[1] }}</h2>
        <p><b>Date:</b> {{event_data[2]}}</p>
        <p><b>Time:</b> {{event_data[3]}} - {{event_data[4]}}</p>
        <p><b>Location:</b> {{ event_data[5] }}</p>
        <p><b>Event Coordinator:</b> {{ contact_name }}</p>
        <p><b>Email:</b> {{ event_data[6] }}</p>
        <p><i>{{event_data[8]}}</i></p>
    </section>

    <br>
    

{% endblock %}
    
{% block content %}
    {% if admin %}
        <button class="big-button showAddTable" id="showAddTable">Add Table</button>
        <br>
    {% endif %}
    <!--Backend interaction: Use a for in loop to display all tables for a particular event (remove hard coding)-->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}" role="alert">
                {{ message }}
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <section id="tables">
        <br>
        
        {% for table, signups in signup_tables.items() %}
            <table id="{{ table.lower() }}Signup">
                <thead>
                    <tr>
                        <th id="{{ table }}_th" colspan="4">
                            {{ table }} ({{ max_entries[table] - signups|length }}/{{ max_entries[table] }}) Slots Available
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Name</td>
                        <td>Dish</td>
                        <td>Email</td>
                        <td></td>
                    </tr>

                    {% for signup in signups %}
                        <tr>
                            <td>{{ signup[2] }}</td>
                            <td>
                                {{ signup[3] }}
                                {% if signup[5] %}
                                    <span class="comment-icon" onclick="showComment('{{ signup[0] }}')">💬</span>
                                    <div id="comment-popup-{{ signup[0] }}" class="comment-popup">
                                        <div class="comment-content">
                                            <p>{{ signup[5] }}</p>
                                            <span class="close-button" onclick="hideComment('{{ signup[0] }}')">&times;</span>
                                        </div>
                                    </div>
                                {% endif %}
                            </td>
                            
                            <td>{{ signup[4] }}</td>
                            <td>
                                {% if admin or email == signup[4] %}
                                <button class="edit-signup-button" 
                                        data-id="{{ signup[0] }}"
                                        data-dish="{{ signup[3] }}"
                                        data-comment="{{ signup[5] }}">
                                    Edit
                                </button>
                                <button class="delete-signup-button" data-url="{{ url_for('delete_signup', id=signup[0]) }}">Delete</button>
                            {% endif %}

                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr class="signUp">
                        <td colspan="4">
                            {% if admin %}
                                <button class="big-button delete-table-button" data-url="{{ url_for('delete_table', id=tables[loop.index-1][0]) }}">Delete Table</button>
                                <button class="edit-table-button big-button" data-table-id="{{ tables[loop.index0][0] }}" data-category="{{ tables[loop.index0][2] }}" data-max-entries="{{ tables[loop.index0][3] }}" data-vieworder="{{ tables[loop.index0][4] }}">Edit Table</button>
                            {% endif %}
                            {% if max_entries[table] - signups|length > 0 %}
                                <button class="big-button signUpButton" data-table-id="{{ tables[loop.index0][0] }}" id="{{ table }}">Sign up</button>
                            {% endif %}
                        </td>
                    </tr>
                </tfoot>
            </table>
            <br>
        {% endfor %}


    </section>
    <form id="tableForm" method="POST" action="{{ url_for('add_table', event_id=event_data[0]) }}">
        <input type="hidden" id="tableId" name="table_id"> <!-- New -->
        <p id="formTitle">Add a Table</p>
        <label for="tableName">Category Name:</label>
        <input type="text" id="tableName" name="category" required>
        <br>
        <label for="maxEntries">Max Entries:</label>
        <input type="number" id="maxEntries" name="max_entries" required>
        <br>
        <label for="vieworder">Appearance Order:</label>
        <input type="number" id="vieworder" name="vieworder" required>
        <br>
        <button id="addTable" type="submit">Save</button>
        <button type="button" id="cancelAddTable">Cancel</button>
    </form>
       
    
    <!-- Popup to sign up for an item -->
    <div id="inputs">
        <section id="inputHeader">
            <h3 id="signUpHeader">Sign Up!</h3>
            <img src="{{ url_for('static', filename='images/CloseButton.png') }}" id="closeSignUp">
        </section>
        <section>
            <form id="signupForm" method="POST">
                <input type="hidden" name="event_id" id="event_id_hidden" value="{{ event_data[0] }}">
                <input type="hidden" name="table_id" id="table_id_hidden">
                <input type="hidden" name="signup_id" id="signup_id_hidden">
                
                <!--<label for="nameInput">Name:</label>
                <input type="text" id="nameInput" name="name" required>
                <br>-->
                <label for="dishNameInput">Dish Name:</label>
                <input type="text" id="dishNameInput" name="dish" required>
                <br><br>
                <!--<label for="emailInput">Email:</label>
                <input type="email" id="emailInput" name="email" required>
                <br>-->
                <input type="text" id="extras" name="extras" placeholder="Other Comments (Optional)">
                <br><br>
                <button id="confirm" type="submit">Confirm</button>
            </form>
            
        </section>
    </div>

    <!-- <div id="editInputs">
        <section id="editInputHeader">
            <h3 id="editSignUpHeader">Sign Up!</h3>
            <img src="{{ url_for('static', filename='images/CloseButton.png') }}" id="editCloseSignUp">
        </section>
        <section>
            <form id="editSignupForm" method="POST">
                <input type="hidden" name="event_id" id="edit_event_id_hidden" value="{{ event_data[0] }}">
                <input type="hidden" name="signup_id" id="signup_id_hidden">
                
                <label for="editDishNameInput">Dish Name:</label>
                <input type="text" id="editDishNameInput" name="dish" required>
                <br><br>
                
                <input type="text" id="editExtras" name="extras" placeholder="Other Comments (Optional)">
                <br><br>
                <button id="editConfirm" type="submit">Confirm</button>
            </form>
            
        </section>
    </div> -->

    <!-- Confirm Signup Delete -->
    <div id="deleteSignupPopup" style="display: none;">
        <p>Are you sure you want to delete this signup?</p>
        <button id="confirmDeleteSignup">Confirm</button>
        <button id="cancelDeleteSignup">Cancel</button>
    </div>

    <!-- Confirm Table Delete -->
    <div id="deleteTablePopup" style="display: none;">
        <p>Are you sure you want to delete this table?</p>
        <button id="confirmDeleteTable">Confirm</button>
        <button id="cancelDeleteTable">Cancel</button>
    </div>


    <section id="footer">

    </section>

{% endblock %}

