<!--Inherits signup_base template-->
{% extends 'signup_base.html' %}

    
    <!--Backend interaction: Use a for in loop to display all tables for a particular event (remove hard coding)-->
    <section id="tables">
        <!--<table id="dessertSignup">
            <thead>
                <tr>
                    <th id="dessert_th" colspan="4">Desserts (5/5 available slots)</th>
                </tr>
            </thead>

            <tbody>
            
            </tbody>

            <tfoot>
                <tr class="signUp">
                    <td colspan="4"><button class="signUpButton" id="dessertSignupButton">Sign up</button></td>
                </tr>
            </tfoot>
        </table>-->
        <!--UNCOMMENT TO TEST WITHOUT INHERITANCE {% for table in tables %}
            <table id="{{table[]}}Signup">
                <thead>
                    <tr>
                        <th id="{{table[]}}_th" colspan="4">{{table[]}}s ({{table[]}}/{{table[]}} available slots)</th>
                    </tr>
                </thead>
                <tr>
                    <td>Name</td>
                    <td>Dish</td>
                    <td>Email</td>
                    <td></td>
                </tr>
                    
                <tbody>
                    {% for entry in signups %}
                    <td>entry[]</td>
                    <td>entry[]</td>
                    <td>entry[]</td>
                    <td>
                        <a href="url_for()"><button>Delete</button></a>
                    </td>
                    {% endfor %}
                </tbody>
    
                <tfoot>
                    <tr class="signUp">
                        <td colspan="4">
                            <button class="signUpButton" id="SignupButton">Sign up</button>
                        </td>
                    </tr>
                </tfoot>
            </table> 
        {% endfor %}
    </section>
    <p>Add a Table</p>
    <form id="tableForm">
    <label for="tableName">Category Name:</label>
    <input type="text" id="tableName" required>

    <label for="maxEntries">Max Entries:</label>
    <input type="number" id="maxEntries">

    <button id="addTable">Add Table</button>
    </form>UNCOMMENT TO TEST WITHOUT INHERITANCE-->

    <!--Popup to sign up for an item-->
    <!--UNCOMMENT TO TEST WITHOUT INHERITANCE <div id="inputs">
        <section id="inputHeader">
            <h3 id="signUpHeader">Sign Up!</h3>
            <img src="{{ url_for('static', filename='CloseButton.png') }}" id="closeSignUp">
        </section>
        <section>
            <form id="signupForm">
                <label for="nameInput">Name:</label>
                <input type="text" id="nameInput" required>
                <br>
                <label for="dishNameInput">Dish Name:</label>
                <input type="text" id="dishNameInput" required>
                <br>
                <label for="emailInput">Email:</label>
                <input type="email" id="emailInput" required>
            </form>
            
            <br>
            <input type="text" id="extras" placeholder="Other Comments (Optional)">
            <br>
            <button id="confirm">Confirm</button>
        </section>
    </div>

    <div id="deletePopup">
        <p>Are you sure you want to delete this entry?</p>
        <button id="confirmDelete">Confirm</button>
        <button id="cancelDelete">Cancel</button>
    </div>

    <section id="footer">

    </section>UNCOMMENT TO TEST WITHOUT INHERITANCE-->
